@mixin styleText($size, $weight, $color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}
@mixin styleBtn($color, $bg, $colorHover, $bgHover) {
  padding: 10px 30px;
  border-radius: 50px;
  background-color: $bg;
  border: none;
  @include styleText($text-base, 500, $color);
  transition: all 0.5s;
  &:hover {
    background-color: $bgHover;
    color: $colorHover;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
}
