// bộ màu nền
$bg-dark: #181c31;
$bg-dark-bold: #1c2136;
$bg-light: #fff;
$bg-light-bold: #f4f7fa;

// bộ màu chữ
$text-primary: #79808a;
$text-heading-dark: #fff;
$text-heading-light: #181c31;

// bộ font-size
$text-base: 16px;
$text-h4: 26px;
$text-h2: 45px;
// bộ font-weight
$fw-base: 400;
$fw-h4: 500;
$fw-h2: 600;
